<h1>Hola este es mi primer proyecto</h1> <!-- Esta línea muestra un título con el texto -->
<!-- Esta línea muestra un subtítulo con el valor de la variable welcome, que se define en el componente AppComponent -->
<h2>{{ welcome }}</h2> 
<ul style="list-style-type: disc;"> <!-- Esta línea crea una lista con puntos -->
  <li *ngFor="let task of tasks; let i = index"> <!-- Esta línea usa la directiva *ngFor para iterar sobre el arreglo tasks, que se define en el componente AppComponent, y asignar cada elemento a la variable task y su índice a la variable i -->
    {{ task }} <!-- Esta línea muestra el valor de la variable task, que corresponde a una tarea que hay que hacer en Angular -->
  </li>
</ul>

<!--Dividir la pagina -->
<hr />
<!-- Interpolación de cadenas -->
<h2>{{ 'hola' .repeat(4) }}</h2>
<p>la suma es 3 + 3 es {{ 3 + 3 }}</p>
<p>Hola soy {{ name }} y mi edad es {{ age }}</p>
